@import url('http://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
:root {
  --bg: #e6e6e6;
  --fg: #000;
  --text: black;
  --cta: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
    background: #F3F3F3;
    background: var(--bg);

    max-width: 38em;
    margin: 0 auto;

    /* overflow: hidden; */
    flex-direction: column;
    justify-content: flex-start;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */

}

h1, h2 {
  margin: 0 0 1.5rem;
}

button {
  font-family: inherit;
  font-size: inherit;
  display: block;
  border: none;
  background: transparent;
  padding: 0;
}

select, option {
  font-family: inherit;
  font-family: 'Noto Sans TC', sans-serif;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

input[type="text"] {
    font-family: inherit;
    border: none;
    font-size: 1.125rem;
    padding: 0.7rem;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 15rem;
}

.name-entry {
  display: flex;
}

.name-entry > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.name-entry > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-label {
    margin-bottom: 1rem;
    display: block;
}

.btn {
    font-family: inherit;
    font-weight: normal;
    font-size: 18px;
    color: black;
    background: #D1D1D1;
    border: none;
    border-radius: 9px;
    min-width: 98px;
    padding: 0.7rem 1.2rem;
    transition: 0.1s all ease-out;
    display: inline-block;
}

.btn--primary {
    font-weight: bold;
    background: #6D36E2;
    color: white;
}

.btn--danger {
    font-weight: bold;
    background: #f00;
    color: white;
}

.btn--mod {
    font-weight: bold;
    background: transparent;
    color: inherit;
    border: 3px solid;
}

.btn--sm {
    font-size: 14px;
}

.btn[disabled] {
    background: #E7E7E7;
    color: #A0A0A0;
}

.party-header {
    padding: 1.5rem;
    text-align: right;
}

.draw-prompt {
    font-size: 27px;
    text-align: center;
    padding-bottom: 1rem;
}

.drawing-pad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    margin: 0 auto;
    position: relative;
}

.party-list {
  list-style: none;

  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 1rem;
}

.party-list li {
    border-radius: 999rem;
    display: flex;
}

.party-list img {
    max-width: 100%;
    border-radius: 999rem;
    background: #fff;
    display: block;
}

.party-list__item {
    width: 100%;
    padding: 1rem 1.5rem;
    background: #ddd;

    display: flex;
    justify-content: space-between;
}

.emoji-icon {
  display: inline-block;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--game {
  justify-content: flex-start;
}

.join-chunk {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 30em) {
  .join-chunk {
    min-width: 30em;
  }
}

.party-chunk {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: center;
}

.text-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-and-button {
  display: flex;
  align-items: flex-start;
}

.join-button {
  display: inline-block;
  margin-top: 2.3rem;
  margin-left: 0.5rem;
}

input {
  display: block;
}

.hint {
  max-width: 13em;
  display: inline-block;
  font-size: 0.7rem;
}

.mod-panel {
  background: #00f;
  color: white;
  width: 100%;
  padding: 1.5rem;
}
.mod-panel__title {
  margin-bottom: 1.5rem;
  display: block;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.mod-panel__controls {
  display: flex;
  gap: 1rem;
}
